@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

body{
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  background-size: cover;
  background-image: url('./assets/gradient-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.app {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  background-color: rgba(255,255,255, 0.8);
  box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 40%);
  min-height: 100vh;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
  font-size: 30px;
  color: #1f2124;
  font-weight: 800;
  text-align: center;
}

.notes-list {
  padding: 0;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.notes-list::-webkit-scrollbar {
  display: none;
}

.floating-button {
  background: #0e2ac2;
  color: white;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
  font-size: 25px;
  border: none;
}


.floating-button > svg {
  fill: white;
  width: 25px;
  margin-right: 5px;
}

.delete {
  background-color: #f32424;
  margin-right: 15px;
}

.update {
  background-color: #1ac113;
}

.cancel-button {
  background: transparent;
  color: black;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 25px;
  border: none;
}

.note-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  margin: 30px;
  font-size: 25px;
}

.note input {
  background-color: white;
  border: none;
  padding: 16px 12px;
  width: 100%;
  resize: none;
  scrollbar-width: none; /* Firefox */
}

.note input:active,
.note input:focus {
  outline: none;
  border: none;
}

.note input::-webkit-scrollbar {
  display: none;
}

.contact-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 30px;
  font-size: 30px;
}

.display-img-contact {
  display: flex;
  align-items: center;
}

.img-margin {
  margin-right: 20px;
  width: 80px;
}

.head-list-contact {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
  font-weight: 1000;
  font-size: 30px;
}

.card-contact {
  display: flex;
  align-items: center;
  margin: 40px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 40%);
  overflow: auto;
}

.card-contact > img {
  margin: 40px;
  width: 200px;
}

.flex-input-view {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid darkgray;
}

.image-input {
  width: 80px;
  margin-right: 25px;
}

.gender-select {
  border: none;
  width: 100%;
  padding: 16px 12px;
}

.text-align {
  margin: 20px;
}

.view-contact-button {
  background: #0e2ac2;
  color: white;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
}

@media screen and (max-width: 800px) {
  .card-contact {
    flex-direction: column;
  }

  .text-align {
    text-align: center;
  }
}